{% extends 'base.html.twig' %}

{% block title %}
    {{ vehicle['Title'] }}
{% endblock %}

{% block body %}
    <div class="page">
        <div>
            <div class="top">
                <h1>{{ vehicle['Title'] }}</h1>
                <div class="container">
                    <div class="images">
                        <div class='main-image'>
                            <img src='{{ asset(mainImage) }}' alt='vehicle image'/>
                        </div>

                        <ul>
                            {% set images = images|slice(0,8) %}
                            {% set emptyImages = max(0, 8 - images|length) %}

                            {% for image in images %}
                                <li>
                                    <img src="{{ asset(image) }}" alt="vehicle image"/>
                                </li>
                            {% endfor %}
                            {% for image in 1..emptyImages %}
                                <li class="empty-img">
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    {% if bids|length %}
                        <div class='bids'>
                            <ul>
                                {% for bid in bids %}
                                    <li>
                                        <div class='bid'>
                                            <div class='top'>
                                                {% for userProfile in userProfiles %}
                                                    {% if userProfile['Id'] == bid['UserProfileId'] %}
                                                        <h3>{{ userProfile['Username'] }}</h3>
                                                        <img src='{{ asset(userProfile['Picture'] ) }}'
                                                             alt='profile image'/>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class='bottom'>
                                                <h3>{{ bid['Amount'] }}{{ vehicle['Currency'] }}</h3>
                                                <span>{{ bid['CreatedAt'] }}</span>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {%if vehicle['Desc'] is defined %}
            <div class="mid">
                <div class="dropdown">
                    <div class="heading">
                        <h2>Description</h2>
                        <button onclick="toggleDropdown()">^</button>
                    </div>
                    <hr/>
                    <div class="text">
                        <p>{{ vehicle['Desc'] }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <script>
        (function () {
            if (Galleria) {
                $("body").text('Galleria works')
            }
        }());
    </script>

    <script>
        function toggleDropdown() {
            const dropdownTextElement = document.querySelector(".dropdown .text");
            const button = document.querySelector(".dropdown .heading button");

            if (dropdownTextElement.classList.contains('active')) {
                dropdownTextElement.classList.remove('active');
                if (button.classList.contains('active')) {
                    button.classList.remove('active');
                }

                return;
            }

            if (!button.classList.contains('active')) {
                button.classList.add('active');
            }

            dropdownTextElement.classList.add('active');
        }
    </script>
{% endblock %}